.sidebar {
  @include column(1/4);
  background: $secondary-color;
  height: 100vh;

  .nav {
    ul {
      list-style-type: none;
      li {
        a {
          color: $text-color;
        }
      }
    }
  }
}